body {
  justify-content: center;
  text-align: center;
}

.grid {
    border: 1px solid;
    height: 300px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .grid div {
    height: 50px;
    width: 50px;
  }
  
  .taken {
    background-color: black;
  }

  .player-one {
    background-color: red;
    border-radius: 10px;
  }
  
  .player-two {
    background-color: black;
    border-radius: 10px;
  }
